<HTML>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/Resources/Fonts/font.css') }}"/>
    </head>
<title>EventualEatery</title>
    
<div class='nav-bar'>
    <h1 class='title-heading'>EventualEatery</h1>
</div>


<p class='desc'>An ambitious project that utilizes the Cornell Dining API to predict future meals at specified dining halls on campus.</p>

<br>

<h2 class='house-name'>Carl Becker House</h2>

</HTML>