.rapCalendar{
	margin:8px;
	padding:8px;
	padding:8px;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}
.rapCalendar table{
	margin:0px auto;
	border-spacing: 0px;
    border-collapse:separate;
}
.rapCalendar caption{
	color:#3784cc;
	font-weight:bold;
}

.rapCalendar tbody td{
	text-align: center;
	border: 1px solid transparent;
	width:100px;
	height:100px;
}

.rapCalendar .calSelectable:hover{
	border-color:black;
	background-color:#3784cc;
	border-radius:8px;
	cursor:pointer;
	font-weight:bold;
	font-size: 16px;
	margin-bottom: 6px;
}
.rapCalendar .calSelected{
	border-color:black;
	border-radius:8px;
	font-weight:bold;

}
.rapCalendar .larr{
	color:black;
	cursor:pointer;
	float:left;
}
.rapCalendar .larr:before{
	content:"<";
}
.rapCalendar .larr:hover{
	color:black;
}
.rapCalendar .rarr{
	color:black;
	cursor:pointer;
	float:right;
}
.rapCalendar .rarr:before{
	content:">";
}
.rapCalendar .rarr:hover{
	color:black;
}